// Add your custom CSS here.

.product-card {
  &__name {
    min-height: 54.4px;
  }
  &__prices {
    flex-grow: 0;
    > span:not(.prices__compare, .prices__value) {
      display: none;
    }
  }
  @media (min-width: 768px) {
    &__prices {
      display: block;
      margin-bottom: .25rem;
    }
    .prices__compare,
    .prices__value {
      display: inline-block;
    }
    .prices__value {
      margin-left: .25rem;
    }
  }
  @media (min-width: 992px) {
    min-height: 398px;
    &__picture img {
      height: 250px;
    }
  }
}

#page-products .shipping-calculator__form div.alert.alert-danger {
  display: none !important;
}
@media (max-width: 575.98px) {
  #search-bar {
    display: block !important;
    height: 46px !important;
    transition: none;
  }
}

.rating__stars {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 125px;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
} 
.rating__stars::before { 
  content: '★★★★★';
  opacity: .3;
}
.rating__stars::after {
  color: gold;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: 96.5%;
  overflow: hidden;
}
.rating__overview {
  font-size: var(--font-size-sm);
  > strong {
    color: var(--warning);
  }
  > a {
    text-decoration: underline;
  }
}

section.buy-together {
  min-height: 811px;
  @media (min-width: 768px) {
    min-height: 281px;
  }
  @media (min-width: 1024px) {
    min-height: 302px;
  }
}

.blog-post .md-content img {
  width: 100%;
  max-width: 800px;
}
.blog .row .card {
  @media (min-width: 768px) {
    max-width: 250px;
  }
  @media (min-width: 1024px) {
    max-width: 350px;
  }
}

.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    &:hover {
      color:#fff;
      background:#FF8600;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #30753d;
    background: #30753d;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}
.codes {
  display: flex;
  flex-direction: column;
}
.product__ean {
  color: var(--text-muted);
  font-size: var(--font-size-sm);
}
.search-engine__info {
  display: none !important;
}
.product-card__name {
    --max-lines: 3 !important;
}
.checkout__notes {
  display: none !important;
}
.cart-item__out-of-stock {
  padding: 10px;
    background: red;
    color: #fff;
}
.top-bar__countdown {
  background:#ffffff;
  color:#1c1c1c;
}
.brands-carousel {
  height: 83px;
}
body, * {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
}
.focus-input {
  border: 3px solid #f97a00 !important;
}

#page-products .shipping-calculator .alert.alert-danger {
  display: none !important;
}
.product-card__buy.fade {
  opacity: 1
}
.order-info__valid-thru {
  color: white !important;
}
.cart__summary-row.mt-1 * {
  color: var(--success) !important
}

#product-actions {
  .quantity-selector__label button {
    padding: .21rem 1rem !important;
  }
}
.quantity-selector__btn-container {
  border-radius: .25rem;
  border: 1px solid #ced4da;
  min-width: unset !important;
  input {
    border: none;
  }
  .btn.btn-sm.btn-link.col-sm-3 {
    &:first-child {
      border-radius: .25rem 0 0 .25rem;
    }
    &:last-child {
      border-radius: 0 .25rem .25rem 0;
    }
  }
}
.quantity-selector__label {
  margin-left: var(--spacer-4) !important;
}
#contact-form {
  font-weight: bold;
  font-size: 1.18rem;
  max-width: 600px;
  margin: 50px auto;
  input {
    border-color: rgba(36, 52, 71, 0.73);
    border-radius: 50px;
    padding: 22px;
  }
  textarea {
    border-color: rgba(36, 52, 71, 0.73);
    border-radius: 10px;
    padding: 22px;
    min-height: 140px;
  }
  input, textarea {
    &:hover, &:focus {
      border-color: #f97a00;
    }
  }
  span.helper-text, span.helper-text .arrow {
    background-color: #e86c68;
  }
  span.helper-text {
    border-radius: 99px;
    font-size: .95em;
    margin-top: .8em;
    color: #fff;
    display: inline-flex;
    align-items: center;
    border: 0 !important;
    z-index: 999;
    padding: .5em 1em;
    word-break: break-word;
  }
  span.helper-text .arrow {
    display: inline-block;
    width: 14.1px;
    height: 14.1px;
    border-radius: 3px;
    transform: rotate(45deg);
    z-index: -1;
    top: -5px;
    left: 42px;
  }
  span.helper-text {
    font-size: .95em;
  }
  #button-send {
    min-width: 150px;
    padding: 5px;
    border: none;
  }
}

.depoimentos.banner-wrapper .depoimento-box {
  margin: 0px auto;
}
.depoimento-box {
  border: 1px solid #EBE6E3;
  border-radius: 8px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
  -moz-box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
  box-shadow: 0px 5px 9px -5px rgba(148,148,148,0.55);
  text-align: center;
  padding: 20px;
}
.title-client-avk {
  text-align: center;
}
.title-client-avk img {
  border-radius: 200px;
  max-height: 70px;
  margin: 0 auto;
  margin-bottom: 0px;
  border: 1px solid #C9AB72;
}
.title-client-avk p {
  color: #434343 !important;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 5px;
  display: block;
}
.title-client-avk small {
  font-size: 16px;
}

@media (min-width: 1200px) {
  .depoimento-box {
    text-align: left;
  }
  .title-client-avk {
    text-align: left;
    position: relative;
  }
  .title-client-avk img {
    display: block;
    text-align: center;
    margin-bottom: 0px;
  }
  .title-client-avk p {
    font-size: 18px;
    font-weight: 700;
  }
}

.reviews {
  .products-carousel__title::before {
    height: 0 !important;
  }
  small {
    color: var(--secondary);
  }
  .depoimento-box {
    min-height: 300px;
  }
  height: unset;
}


.blog .card-body .card-text, .blog-post a {
  text-decoration: underline !important;
}

.blog-post .buy {
  padding: 10px;
  background-color: #f97a00;
  color: #fff;
  text-decoration: none !important;
  text-align: center;
  border-radius: 20px;
  &:hover {
    background-color: #ab5414;
  }
}

.shipping-line[data-service-code="retire"] span.mr-2 {
  color: transparent !important;
}